body {

    font-family: 'Montserrat', sans-serif;
    
}

.menu {

    height: 40px;
    background-color: white;
    display: none;
    border-bottom: 1px solid rgb(229,232,237);

}

.leftmenu {

    float: left;
    margin-top: 7px;
    margin-left: 10px;

}

.menu span {

    float: left;
    padding: 6px 8px;
    background-color: #00D7D2;
    color: #031B4E;
    border-radius: 5px;
    font-size: 9px;
    font-weight: 600;
    margin-top: 6px;
    margin-left: 10px;

}

.leftmenu a {

    color: #5F6D8A;
    font-size: 12px;
    font-weight: 600;

}

.leftmenu a:hover {

    text-decoration: none;
    color: #2C75FF;

}

.leftmenu a>i {

    margin-left: 5px;
    font-size: 9px;

}

.rightmenu {

    float: right;
    margin-top: 10px;

}

.rightmenu ul li:hover {

    cursor: pointer;
    text-decoration: none;
    color: #2C75FF;

}

.rightmenu ul li {

    display: inline;
    margin-left: 14px;
    color: #5F6D8A;
    font-size: 12px;
    font-weight: 600;

}

.nav>li>a {

    padding: 15px 8px;

}


.navbar-default {

    padding-bottom: 10px;
    background-color: white;

}

.navbar-brand>img {

    margin-left: 10px;
    max-height: 30px;

}

.navbar-default .navbar-left {

    padding-top: 7px;

}

.navbar-left li>a>i {

    margin-left: 10px;

}

.navbar-default .navbar-nav>li>a:hover {

    color: #2C75FF;

}

.navbar-default .navbar-right {

    padding-top: 15px;

}

.navbar-default .navbar-nav>li>a {

    color: #122658;
    font-weight: 600;

}

.navbar-default .navbar-toggle {

    border: none;

}

.navbar-toggle {

    padding: 0px 10px;
    margin-top: 20px;

}

.btn-default {

    font-size: 14px;
    font-weight: 600;
}

.btn-default.signin {

    margin-right: 20px;
    border-color: #2672FF;
    color: #2672FF;

}

.btn-default.signin:hover {

    border-color: #2672FF;
    background-color: #2672FF;
    color: white;
    transition: background-color 0.25s linear,border-color 0.25s linear,color 0.25s linear;

}


.btn-default.signup {

    margin-right: 13px;
    border-color: #2672FF;
    background-color: #2672FF;
    color: white;

}

.welcome {

    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #0069ff;
    background-image: url("https://www.digitalocean.com/static/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: -webkit-center;

}

.welcome-left {

    max-width: 605px;
    padding-top: 100px;


}

.welcome-left h1 {

    font-size: 31px;
    color: white;
    font-weight: 600;

}

.welcome-left p {

    font-size: 24px;
    color: white;

}

.card {

    width: 350px;
    height: 470px;
    background-color: white;
    border-radius: 5px;
    font-weight: 600;

}

.card h5 {

    font-size: 18px;
    color: #031B4E;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #F3F5F9;
    font-weight: 600;
    border-radius: 5px;

}

.btn-card-email {

    border-color: #2672FF;
    background-color: #2672FF;
    color: white;
    width: 270px;
    height: 60px;
    font-size: 18px;
    margin-top: 9px;

}

.btn-card-email:hover {

    color: #fff;
    background-color: #1633ff;
    transition: all 0.3s ease;

}

.input-group .form-control {

    margin-bottom: 7px;
    width: 270px;
    margin-left: 40px;

}

.form-control {

    height: 50px;
    font-size: 12px;
    border: none;
    box-shadow: none;
    border: 1px solid #e9ecef;
    border-radius: 0px;

}

.form-control:focus {

    border-color: #e9ecef;
    box-shadow: none;

}

.card .input-group {

    padding-top: 15px;
    padding-bottom: 50px;
    border-bottom: 1px solid #F3F5F9;

}

.btn-card-google {

    width: 207px;
    height: 42px;
    border-color: #2672FF;
    color: #2672FF;

}

.btn-card-google:hover,.btn-card-github:hover {

    border-color: black;
    color: black;
    background-color: white;

}

.btn-card-github {

    margin-left: 4px;
    width: 52px;
    height: 42px;
    border-color: #2672FF;
    color: #2672FF;

}

.card-bottom {

    margin-top: 25px;

}

.welcome-right small {

    color: white;

}

.business {

    background-color: #F3F5F9;
    padding-bottom: 4%;

}

.business h6 {

    color: #5B6987;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    margin-top: 4%;

}

.business p {

    margin-top: 4%;
    text-align: center;
    font-size: 14px;
    font-weight: bold;

}

.business p>a:hover {

    color: #1633ff;
    text-decoration: none;

}

.business p>a {

    color: #0069FF;

}

.businesslogo {

    margin-top: 2%;
    margin-right: 4%;

}

.imglogo {

    height: 60px;
    width: 140px;
    float: left;
    margin-left: 38%;
}

#info-title {

    text-align: center;
    padding-bottom: 8%;

}

#info-title h2 {

    font-size: 36px;
    color: #031b4e;
    font-weight: bold;

}

#info-title p {

    font-size: 20px;
    color: #5b6987;

}

.info {

    padding-top: 6%;
    padding-bottom: 6%;

}

.info h5 {

    font-size: 18px;
    color: #031b4e;
    font-weight: bold;

}

.info p {

    font-size: 16px;
    color: #5b6987;

}

.info ul {

    font-size: 16px;
    list-style: none;

}

.info ul::after {

    content: '';
    display: table;
    clear: both;

}

.info ul li {

    padding-left: 5%;
    padding-bottom: 5%;
    display: inline;
    border-bottom: 2px solid lightgrey;
    float: left;
    margin-bottom: 5%;

}

.info ul li>a {

    color: #6C769C;
    font-weight: 600;

}

.info ul li>a:hover {

    text-decoration: none;

}

.description {

    margin-bottom: 4%;
    text-align: center;

}

.list {

    display: table;
    margin: 0 auto;

}

ul#horizontal-list {

    width: 370px;
    padding: 0;

}

@media screen and (min-width: 768px) {

    .menu {
        display: none;
    }

    .navbar-header {
        float: none;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse.collapse {
        display: none!important;
    }

}

@media screen and (min-width: 1024px) {

    .menu {
        display: block;
    }

    .navbar-default {
        margin-top: 40px;
    }

    .navbar-header {
        float: left;
    }

    .navbar-toggle {
        display: none;
    }


    .navbar-collapse.collapse {
        display: block !important;
    }

    .welcome {
        margin-top: 107px;
    }

    .welcome-left h1 {
        font-size: 58px;
    }

}

@media screen and (min-width: 1200px) {

    .correct {
        padding-left: 27%;
    }

    .welcome-left {
        text-align: left;
    }

    .description {
        text-align: left;
    }

    .info ul li {
        padding-left: 5%;
        padding-bottom: 10%;
        display: block;
        border: none;
        border-left: 2px solid lightgrey;
        float: none;
        margin-bottom: 0;
    }

    .info ul li:last-child {
        padding-bottom: 0;
    }

}
