.navbar-default {

    padding-bottom: 10px;

}

.navbar-brand>img {

    margin-left: 10px;
    max-height: 30px;

}

.navbar-default .navbar-left {
    padding-top: 7px;
}

.navbar-default .navbar-right {
    padding-top: 15px;
}

.menu {
    height: 40px;
    background-color: grey;
    display: none;
}

@media screen and (min-width:768px) {

    .menu {
        display: block;
    }

}
